$red: #ad1f25;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    // font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 35, 48);
}

#logo {
    position: absolute;
    height: 50px;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fills 0.5s ease forwards 3s;

    .paths {
        stroke: $red;
        stroke-miterlimit: 10;
        stroke-width: 3px;
    }
}

$text-lengths: (
    1: 579.76904296875,
    2: 572.0400390625,
    3: 585.7536010742188,
    4: 417.20001220703125,
    5: 634.8458862304688,
    6: 629.6207275390625,
    7: 572.0399780273438,
    8: 594.1424560546875
);

@each $pos, $length in $text-lengths {
    #logo path:nth-child(#{$pos}) {
        stroke-dasharray: #{$length}px;
        stroke-dashoffset: #{$length}px;
        animation: line-animation 2s ease forwards #{0.3 * $pos}s;
    }
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fills {
    from {
        fill: transparent;
    }
    to {
        fill: $red;
    }
}
